* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left, .right {
    height: 85vh;
    width: 100%;
}

.right p {
    line-height: 33px;
    margin-right: 2rem;
}

.border-box {
    width: 360px;
    height: 480px;
    border: 6px solid #16cc6b;
    z-index: 11;
}

.about-image {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 90px; 
    left: 80px; 
}

.bionic-image { 
    width: 470px; /*470px*/
}

@media only screen and (min-width: 1200px) {
    .about-image {
        left: 70px;
    }

    .bionic-image {
        width: 490px;
    }
}

@media only screen and (max-width: 600px) {
    .border-box {
        width: 0px;
        height: 0px;
        border: 0px;
    }
   
    .bionic-image {
        width: 75%;
    }

    .right p {
        margin-left: 10px;
    }

    .right h2 { 
        margin-left: 5px;
    }

}

