* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left, .right {
    height: 85vh;
    width: 100%;
}

.right p {
    line-height: 30px;
    margin-right: 2rem;
    color: black;
}

.right .line {
    border: 2px solid #16cc6b;
    width: 50%;
}

.border-box {
    width: 360px;
    height: 480px;
    border: 6px solid #16cc6b;
    z-index: 11;
}

.about-image {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 90px; 
    left: 80px; 
}

.bionic-image { 
    width: 470px; /*470px*/
}
@media only screen and (min-width: 1200px) {
    .about-image {
        left: 70px;
    }
}

@media only screen and (min-width: 771px) and (max-width: 1123px) {
    .border-box {
        width: 300px;
        height: 480px;
    }

    .about-image {
        left: 65px;
        top: 80px;
    }
    .bionic-image {
        width: 380px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 750px) {  
    .border-box {
        width: 0px;
        height: 0px;
        border: 0px;
    }

    .left {
        background-image: url(/images/QuietHouse/quiethouse1.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .bionic-image {
        display: none;
    }
   /* .about-image {
        left: 85px;
    }

    .right p,
    .right h2 {
        margin-left: 10px;
    }*/
}

@media only screen and (max-width: 600px) {
    .border-box {
        width: 0px;
        height: 0px;
        border: 0px;
    }

    .left {
        background-image: url(/images/QuietHouse/quiethouse1.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .bionic-image {
        display: none;
    }

    .right p {
        margin-left: 10px;
    }

    .right h2 { 
        margin-left: 5px;
    }

    .right .line {
        width: 85%;
    }

}

