@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.bionic-logo {
  font-size: 1.5rem;
  color: black;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  text-decoration: none;
}


.bionic-logo:hover {
  text-decoration: none;
  color: black;
}

